#videoDiv{
    height: 100vh !important;
}


.descFirstRow {
    margin:10% 0px 20px 0px;
    
}

.descFilmName{
    font-size: 25px;
    margin-right: 50px; 
    font-weight: bold;
}

.descFilmType{
    font-size: 10px;
    margin-right: 50px;
}

.descDuration{
    margin-right: 50px;
    font-size:15px;
}

.playButton{
    height:5vh;
    width:80%; 
    display:flex; 
    flex-direction:row; 
    align-items:center; 
    justify-content:center; 
    font-size: 0.25; 
    color:white; 
    background-color:black; 
    border:0px;
    border-radius: 10px; 
    cursor:pointer;
    margin-top:7%
}

.descBody{ 
    font-size: 15px;
    margin:20px 0px 20px 0px;
}

.descBodyText{
    font-size: 13px; 
    margin-left: 25px;
}

.descRightSec{
    width:20%; 
    height:80vh;
    display:flex;
    flex-direction:column;
}

.descCloseContainer{
   position: absolute;
   right: 5%;
}

.descCloseIcon{
    height:2vw; 
    height:2vw; 
    width:2vw;
    color:red;
}

.descPlayButton{
    height:5vh;
    width:80%; 
    display:flex; 
    flex-direction:row; 
    align-items:center; 
    justify-content:center; 
    font-size: 2vw; 
    color:white; 
    background-color:black; 
    border:0px;
    border-radius: 10px; 
    cursor:pointer;
    margin-top:7%
}

.descPlayIcon{
    height:5vw; 
    width:5vw;
    color:red; 
    margin-right:1vw;
}
.crewDesignation{
    font-size:12px;
    font-weight:bold;
}

.crewMember{
    font-size:10px; 
    margin-left: 10px;
}

@media only screen and (max-width:600px){

    
    .descCloseIcon{
        height:5vw; 
        height:5vw; 
        width:8vw;
        
    }
   
}