@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: whitesmoke;
  font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#content {
  position:absolute; 
  top:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content: center;
  background-color:rgba(0,0,0,0.8);
  opacity:0;
}
#content:hover {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content: center;
  opacity:1
}
/* #card:hover > #content{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 550ms ease-in-out;
  -moz-transition: all 550ms ease-in-out;
  -ms-transition: all 550ms ease-in-out;
  -o-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
  opacity: 1;
} */
#cardImage {
  transition-duration: 500ms;
}
#card:hover {
  transform: scale(1.2);
  transition-duration: 500ms;
}
a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: white;
  outline: none;
}

video {
  object-fit: fill;
  width: 100%;
}

#videoDiv {width: 100%; height: 100%; position: relative;overflow:hidden;}
#videoBlock {width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center;}
#videoMessage {width: 100%; height:100%; position: absolute; top: 0; left: 0;  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));padding: 30}
.mainContainer{
  padding-top: 25px;
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 130vh;
}
#myVideo {
  position: absolute;
  top:0;
  right:0;
  min-width: 100%;
  min-height: 80vh;
  z-index: -1;
}