.aboutContainer {
    padding: 100px;
    padding-top:50px;
}

.avatar{ 
    border-radius: 75px; 
    vertical-align: middle;
    border: 2px solid white;
    width:130px;
    height:130px;
}

.animateName{
    color: white; 
    font-size: 40px;
    line-height: 36px;
    font-weight:bold; 
    display:inline-block;
    margin-left:10px;
    font-family:Karla,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.textContainer{
    font-size: 18px; 
    text-align: justify;
}

.greetText{
    font-size: 10vh;
}

.socialIcon{
    margin-left:30px;
}

@media screen and (max-width:900px){
    .aboutContainer{
        padding:80px;
    }
    .avatar{
        width:100px;
        height:100px;
        border-radius:50px;
    }
    .animateName{
        font-size:30px;
    }
}

@media screen and (max-width:600px){
    .aboutContainer{
        padding:15px;
    }
    .avatar{
        width:70px;
        height:70px;
        border-radius:35px;
    }
    .animateName{
        font-size:20px;
    }
    .textContainer{
        font-size: 13px; 
    }
    .greetText{
        font-size: 30px;
    }
}